:root {
  --gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --text-color: hsl(227, 75%, 14%);
  --text-color-p: hsl(226, 11%, 37%);

  /* background for elements */
  --background:hsl(200, 60%, 99%);
  --secondary-background: hsl(0, 0%, 100%);
  --dark-red: hsl(3, 77%, 44%);
  --medium-red: hsl(3, 71%, 56%);
  --light-red: hsl(3, 86%, 64%);
  --hover-background: hsl(0, 0%, 93%);
}

[data-theme="dark"] {
  --gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
 --text-color-p:hsl(217, 61%, 90%);
  --text-color: hsl(0, 0%, 93%);
  --background: hsl(226, 25%, 17%);
  --secondary-background: hsl(225, 23%, 24%);
  --hover-background: hsl(226, 11%, 37%);
}

#app {
  background: var(--gradient);
  color: var(--text-color);
  min-height: 100vh;
  padding: 3rem 8rem;
}

.test{
    background-color: var(--secondary-background);
    width: 300px;
    height: 300px;
}

@media (max-width: 1200px) {
  #app {
    padding: 3rem 2rem;
  }
}
